@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="UnAuthApp" style="display:none">
        <button class="btn btn-positive btn-block" onclick="stConn2()">Connect to Strava</button>
        <div class="bar bar-footer">
            <a class="icon icon-gear pull-right" href="#composeModal" onclick="showTest()"></a>
            <small class="updated-text">Not authenticated with Strava
        </div>
        </small>
    </div>
    <div style="height:50px"></div>
    <div class="menubtns">
            <div class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Activities and Segments<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="getAct()">My Activities and Segments</a></li>
                    <li><a href="#" onclick="getNearby()">Segments Nearby</a></li>
                    <li><a href="#" onclick="getFavs()">Favorites</a></li>
                    <li><a href="#" onclick="Settings()">Settings</a></li>
                    <li><a href="#" onclick="ActsSegsRefresh()">Refresh</a></li>
                </ul>
            
        </div>
       
    </div>
    <div class="profile"><img class="circular_pfl "src="~/Content/face80x80.jpg" /></div>
    <div class="logoimg"><img style="width:auto;height: 42px;" src="~/Content/kom_logo_db.png" /></div>
    <div id="loading" style="z-index:200;position:absolute;left:0px;text-align:center;height:500px;top:100px;background-color:gainsboro;display:none"><i class="fa fa-star-o icon-4x"></i></div>
    <div id="status_msgs" class="whitec" style="display:none"></div>
    <div id="seg_nearby" style="display:none">

        <div id="map_canvas_nearby" style="height:200px;"></div>
        <div id="map_activities">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="dash-unit" id="tableback_map">

                        <div class="timebtns">
                            <div style="position:absolute;left:18px;top:30px;z-index:400">
                                <div class="btn-group">
                                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        1 - 3 Hrs<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="displayStarsmap(3)">1 - 3 Hrs</a></li>
                                        <li><a href="#" onclick="displayStarsmap(6)">4 - 6 Hrs</a></li>
                                        <li><a href="#" onclick="displayStarsmap(9)">7 - 9 Hrs</a></li>
                                        <li><a href="#" onclick="displayStarsmap(12)">10 - 12 Hrs</a></li>
                                        <li><a href="#" onclick="displayStarsmap(24)">Next 24 Hrs</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div id="map_table">
                            <div class="framemail">
                                <div class="window">
                                    <ul class="mail">
                                        <li>
                                            <i class="read">Act Name</i>
                                            <p></p>
                                            <p class="message">100m</p>
                                            <div class="actions">
                                                <p>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /dash-unit -->

                </div>
            </div>

        </div>
    </div>
    <div id="seg_details" style="display:none">

    </div>
    <div id="seg_data" style="display:none">


        <div id="seg_titleo"></div>



        <!-- FIRST ROW OF BLOCKS -->
        <div class="row">

            <!-- DONUT CHART BLOCK -->


        </div><!-- /row -->
    </div>



    <div id="table_calc_area2" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="small-unit" id="table_calc_back2">
                    <div class="timebtns">
                        <button type="button" class="btn btn-primary btn-sm" onclick="ActsSegsRefresh()">Refresh 1</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="parse('act')">parse act</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="analyseSegs()">Start 2 an segs</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="weatherAct()">Weather 1</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="weatherSeg()">Weather 2</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="twitterConn()">Show activity star ratings</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="saveUser('nick','flet',123422,5,3)">Saveuser</button>
                    </div>
                    <div class="box2">
                        <button type="button" class="btn btn-primary btn-xs" id="moreInfo" onclick="showRem()">
                            <span class="glyphicon glyphicon-star"></span>
                        </button>
                    </div>
                </div>
                <div class="cont" id="rem_section" style="display:none">

                    <div class="box2" id="rem_num">3 Remaining</div>
                    <div class="box3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="24" style="width:60%;">
                            </div>

                        </div>
                    </div><div class="box2" id="rem_msg"></div>

                </div>


            </div>
        </div>
    </div>




    <div id="info">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="weather-unit">
                    <dtitle>Location</dtitle>
                    <div class="cont"><div id="location">here</div></div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- FIRST ROW OF BLOCKS -->
    <div id="profile_tile" style="display:none">
        <div class="row">

            <!-- USER PROFILE BLOCK -->
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit" style="height:210px">
                    <br>
                    <div id="user_details"></div>
                    
                    <div id="userimg" class="circular_user"></div>
                    <div class="cont">
                        
                        <input type="submit" id="submit" name="submit" onclick="hideW()" value="Sign Out">
                    </div>

                </div>
            </div>
       
        <!-- DONUT CHART BLOCK -->
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>Weather Credits</dtitle>
                    <hr>
                    <div class="text-center">

                        <h1>0 credit left</h1>
                        <h3>2 days until more credits</h3>

                        <div class="progress center-block" style="width:80%;">
                            <!-- set to certain width -->
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 60%;">
                                <span>

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="cont">
                        <input type="submit" id="submit" name="submit" value="Buy Credits">
                        <input type="submit" id="submit" name="submit" value="Go Premium">
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>Settngs</dtitle>
                    <hr>
                    <div class="text-center">
                    </div>
                    <div class="cont">
                        <div class="switch" id="weeks">
                            <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                            <label for="on" class="switch-label switch-label-off">Metric</label>
                            <input type="radio" class="switch-input" name="view" value="off" id="off">
                            <label for="off" class="switch-label switch-label-on">Imperial</label>
                            <span class="switch-selection"></span>
                        </div>
                        <div class="switch switch-blue" onchange="sw2()">
                            <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
                            <label for="week2" class="switch-label switch-label-off">KOM</label>
                            <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
                            <label for="month2" class="switch-label switch-label-on">QOM</label>
                            <span class="switch-selection"></span>
                        </div>

                        <div class="switch switch-yellow">
                            <input type="radio" class="switch-input" name="view3" value="yes" id="yes" checked="">
                            <label for="yes" class="switch-label switch-label-off">Yes</label>
                            <input type="radio" class="switch-input" name="view3" value="no" id="no">
                            <label for="no" class="switch-label switch-label-on">No</label>
                            <span class="switch-selection"></span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- DONUT CHART BLOCK -->

    </div><!-- /row -->
    <!-- SECOND ROW OF BLOCKS -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <!-- Activities BLOCK -->
            <div id="my_activities" style="display:none">

                <div class="dash-unit" id="tableback">
                    <dtitle>Activities and Segments</dtitle>
                    <hr>


                    <div style="position:absolute;left:18px;top:30px;z-index:400" id="Hrsdd">
                        <div class="btn-group">
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 - 3 Hrs<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="displayStars(3)">1 - 3 Hrs</a></li>
                                <li><a href="#" onclick="displayStars(6)">4 - 6 Hrs</a></li>
                                <li><a href="#" onclick="displayStars(9)">7 - 9 Hrs</a></li>
                                <li><a href="#" onclick="displayStars(12)">10 - 12 Hrs</a></li>
                                <li><a href="#" onclick="displayStars(24)">Next 24 Hrs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="position:absolute;right:18px;top:30px;z-index:400">
                        <a class="btn btn-primary btn-sm" href="#tableback" onclick="dispStarsChk()" id="refreshStarsbtn">
                            Geneate star ratings
                        </a>
                        <div id="wbtns">
                        <button type="button" class="btn btn-primary btn-sm" onclick="weatherAct()">Weather 1</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="weatherSeg()">Weather 2</button>
                            </div>
                    </div>
                    <div style="position:absolute;left:5px;top:65px" id="winfo"></div>

               <div style="height:70px">&nbsp;</div>
                    <div class="framemail">
                        <div id="act_table2">
                            <div class="window">
                                <ul class="mail">
                                    You have no acivities for segment efforts, have a look at the map view
                                    <li onclick="poly2()">
                                        <i class="read"></i><p>name</p><p class="message">200m</p>
                                        <div class="actions" id="stars_"><p></p></div>
                                    </li>
                                    <li onclick="poly2()">
                                        <i class="read"></i><p>name</p><p class="message">200m</p>
                                        <div class="actions" id="stars_"><p></p></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /dash-unit -->
            </div><!-- /span3 -->
        </div>
        <!-- Dist and Gain HIDE -->
        <div id="deets_tile">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="half-unit">

                    <div style="position:absolute;left:10px;top:5px" id="seg_title"></div>
                    <div style="position:absolute;right:10px;top:5px" id="backBtn"><div id="favBtn"></div></div>

                    <div style="position:absolute;left:50px;top:67px;text-align:center">
                        <div id="seg_dist"></div>
                        <div>Total Distance</div>
                    </div>

                    <div style="position:absolute;right:50px;top:67px;text-align:center"">
                        <div id="seg_egain"></div>
                        <div>Elevation Gain</div>
                    </div>

                    <div style="position:absolute;left:10px;top:135px;text-align:center"">
                        <div class="circular" id="static_map">
                        </div>

                    </div>
                    <div style="position:absolute;right:10px;top:135px;text-align:center"">
                        <div id="canvas-holder" style="text-align:center">
                            <canvas id="chart-area" width="160px" height="160px" />
                        </div>
                        <div>Route Headings</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Buttons -->
        
    </div>
    <!-- THIRD ROW OF BLOCKS -->
    <div class="row" id="pills_row" style="display:none">
        <div class="col-xs-12 col-sm-12 col-lg-6">

            <div class="dash-unit" style="height:60px">
                <div class="cont">
                    <div id="data_pills" style="display:none"></div>
                </div>
            </div>
        </div>
    </div>
            <div id="seg_weather" style="display:none">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-6">
                        <!-- LOCAL TIME BLOCK -->
                        <div class="dash-unit" style="height:1500px">
                            <dtitle>Weather</dtitle>
                            <hr>
                            <div style="position:absolute;left:5px;top:28px" id="wtitle"></div>
                            <button style="position:absolute;right:10px;top:28px" type="button" class="btn btn-primary btn-sm">Refresh</button>

                            <div style="height:40px">&nbsp;</div>
                            <div style="text-align:left;display:inline-block" id="canvas-holder2">
                                <canvas id="weather" width='250px' height='1500px'><canvas>
                            </div>
                            <div style="text-align:left;display:inline-block;position:absolute;right:5px" id="canvas-holder3">
                                <canvas id="weather_stars" width='130px' height='1500px'><canvas>
                            </div>
                            
                   

                    </div>
                </div>
            </div>
    </div>
    <div id="seg_leaderboard" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <!-- LOCAL TIME BLOCK -->
                <div class="dash-unit" id="leaderback">
                    <dtitle>Leaderboard</dtitle>       
                    <hr>
                    <button style="position:absolute;right:10px;top:24px" type="button" class="btn btn-primary btn-sm">Refresh</button>
                    <div style="position:absolute;left:5px;top:25px" id="lbdata"></div>
                    <div class="cont" style="padding-top:25px"><div id="lbBtn"></div>
                      
                        <div style="position:absolute;left:5px;top:104px" id="komimg" class="circular_sml"></div>
                        <div style="position:absolute;left:98px;top:97px" id="komdata"></div>
                        <div style="position:absolute;left:98px;top:160px" id="komability"></div>
                        <div style="position:absolute;right:5px;top:199px;font-size:14px;color:#f93" id="komstarcanvas" style="z-index:600">
                            <canvas id="komcanvas" width='300px' height='25px'><canvas>
                        </div>

                    </div>
                 
                    <div style="position:absolute;left:5px;top:190px" id="canvas-holder3" style="text-align:center">
                        <canvas id="leaderbd" width='400px' height='1500px' id="canvas"><canvas>
                    </div>

                    <div id="lb_table" style="display:none"></div>

                </div>
            </div>
        </div>
    </div>


    <div id="seg_efforts" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <!-- LOCAL TIME BLOCK -->
                <div class="dash-unit" id="effortback">
                    <dtitle>Segment Efforts</dtitle>
                    <hr>
                    <div id="eff_table" style="display:none"></div>

                </div>
            </div>
        </div>
    </div>
            <div class="row" style="display:none">
                <div class="col-sm-3 col-lg-3">

                    <!-- BARS CHART - lineandbars.js file -->
                    <div class="half-unit">
                        <dtitle>Stock Information</dtitle>
                        <hr>
                        <div class="cont">
                            <div class="info-aapl">
                                <h4>AAPL</h4>
                                <ul>
                                    <li><span class="orange" style="height: 37.5%"></span></li>
                                    <li><span class="orange" style="height: 47.5%"></span></li>
                                    <li><span class="orange" style="height: 70%"></span></li>
                                    <li><span class="orange" style="height: 85%"></span></li>
                                    <li><span class="green" style="height: 75%"></span></li>
                                    <li><span class="green" style="height: 50%"></span></li>
                                    <li><span class="green" style="height: 15%"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- TO DO LIST -->
                    <div class="half-unit">
                        <dtitle>To Do List</dtitle>
                        <hr>
                        <div class="cont">
                            <p><bold>13</bold> | Pending Tasks</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                                <span class="sr-only">60% Complete</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-lg-3">

                    <!-- LIVE VISITORS BLOCK -->
                    <div class="half-unit">
                        <dtitle>Live Visitors</dtitle>
                        <hr>
                        <div class="cont">
                            <p><bold>388</bold></p>

                        </div>
                    </div>

                    <!-- PAGE VIEWS BLOCK -->
                    <div class="half-unit">
                        <dtitle>Page Views</dtitle>
                        <hr>
                        <div class="cont">
                            <p><bold>145.0K</bold></p>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-lg-3">
                    <!-- TOTAL SUBSCRIBERS BLOCK -->
                    <div class="half-unit">
                        <dtitle>Total Subscribers</dtitle>
                        <hr>
                        <div class="cont">
                            <p><bold>14.744</bold></p>
                            <p>98 Subscribed Today</p>
                        </div>
                    </div>

                    <!-- FOLLOWERS BLOCK -->
                    <div class="half-unit">
                        <dtitle>Twitter Followers</dtitle>
                        <hr>
                        <div class="cont">
                            <p><bold>17.833 Followers</bold></p>
                            <p>a user</p>
                        </div>
                    </div>
                </div>

                <!-- LATEST NEWS BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Latest News</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_news fs2"></span>
                        </div>
                        <br>
                        <div class="text">
                            <p><b>Alvarez.is:</b> A beautiful new Dashboard theme has been realised by Carlos Alvarez. Please, visit <a href="http://alvarez.is">Alvarez.is</a> for more details.</p>
                            <p><grey>Last Update: 5 minutes ago.</grey></p>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
            <!-- FOURTH ROW OF BLOCKS -->
            <div class="row" style="display:none">

                <!-- TWITTER WIDGET BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Twitter Widget</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_megaphone fs2"></span>
                        </div>
                        <br>
                        <div id="jstwitter" class="clearfix">
                            <ul id="twitter_update_list"></ul>
                        </div>
                        <!-- To show your tweets replace "wrapbootstrap", in the line above, with your user. -->
                        <div class="text">
                            <p><grey>Show your tweets here!</grey></p>
                        </div>
                    </div>
                </div>

                <!-- NOTIFICATIONS BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Notifications</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_bubble fs2"></span>
                        </div>
                        <div class="cont">
                            <p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is a success notification&quot;,&quot;layout&quot;:&quot;topRight&quot;,&quot;type&quot;:&quot;success&quot;}">Top Right</button></p>
                            <p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is an informaton notification&quot;,&quot;layout&quot;:&quot;topLeft&quot;,&quot;type&quot;:&quot;information&quot;}">Top Left</button></p>
                            <p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is an alert notification with fade effect.&quot;,&quot;layout&quot;:&quot;topCenter&quot;,&quot;type&quot;:&quot;alert&quot;,&quot;animateOpen&quot;: {&quot;opacity&quot;: &quot;show&quot;}}">Top Center (fade)</button></p>
                        </div>
                    </div>
                </div>

                <!-- SWITCHES BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Switches</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_params fs2"></span>
                        </div>
                        <br>
                        <div class="switch">
                            <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
                            <label for="on" class="switch-label switch-label-off">On</label>
                            <input type="radio" class="switch-input" name="view" value="off" id="off">
                            <label for="off" class="switch-label switch-label-on">Off</label>
                            <span class="switch-selection"></span>
                        </div>
                        <div class="switch switch-blue">
                            <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
                            <label for="week2" class="switch-label switch-label-off">Week</label>
                            <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
                            <label for="month2" class="switch-label switch-label-on">Month</label>
                            <span class="switch-selection"></span>
                        </div>

                        <div class="switch switch-yellow">
                            <input type="radio" class="switch-input" name="view3" value="yes" id="yes" checked="">
                            <label for="yes" class="switch-label switch-label-off">Yes</label>
                            <input type="radio" class="switch-input" name="view3" value="no" id="no">
                            <label for="no" class="switch-label switch-label-on">No</label>
                            <span class="switch-selection"></span>
                        </div>
                    </div>
                </div>

                <!-- GAUGE CHART BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Gauge Chart</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_lab fs2"></span>
                        </div>
                        <canvas id="canvas" width="300" height="300"></canvas>
                    </div>
                </div>

            </div><!--/row -->
            <!-- FOURTH ROW OF BLOCKS -->
            <div class="row" style="display:none">

                <!-- ACCORDION BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Accordion</dtitle>
                        <hr>
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.
                                    </div>
                                </div>
                            </div>
                        </div><!--/accordion -->
                    </div>
                </div>

                <div class="col-sm-3 col-lg-3">

                    <!-- LAST USER BLOCK -->
                    <div class="half-unit">
                        <dtitle>Last Registered User</dtitle>
                        <hr>
                        <div class="cont2">

                            <br>
                            <br>
                            <p>Paul Smith</p>
                            <p><bold>Liverpool, England</bold></p>
                        </div>
                    </div>

                    <!-- MODAL BLOCK -->
                    <div class="half-unit">
                        <dtitle>Modal</dtitle>
                        <hr>
                        <div class="cont">
                            <a href="#myModal" role="button" class="btnnew" data-toggle="modal">Example Modal Window</a>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- FAST CONTACT BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Fast Contact</dtitle>
                        <hr>
                        <div class="cont">
                            <input type="submit" onclick="twitterConn()" name="submit" value="Send">
                            <form action="#" method="POST" id="contact">
                                <input type="text" id="contactname" name="contactname" placeholder="Name">
                                <input type="text" id="email" name="email" placeholder="Email">
                                <div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>

                            </form>
                        </div>
                    </div>
                </div>

                <!-- INFORMATION BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Block Dashboard</dtitle>
                        <hr>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_display fs2"></span>
                        </div>
                        <br>
                        <div class="text">
                            <p>Block Dashboard created by Basicoh.</p>
                            <p>Special Thanks to Highcharts, Linecons and Bootstrap for their amazing tools.</p>
                        </div>

                    </div>
                </div>

            </div><!--/row -->



        </div> <!-- /container -->
