
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cont">
    <div id="bigLogoimg">
        <img style="width:auto;height:80px;" src="~/Content/kom_logo_db.png" />
    </div>
    <div style="color:white">Beta testing is now complete. App coming soon.</div>
   </div>
  

